#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = <
   &kp ESC   &kp Q &kp W &kp E    &kp R      &kp T          &kp Y     &kp U    &kp I     &kp O   &kp P    &kp BSPC
   &kp LSHFT &kp A &kp S &kp D    &kp F      &kp G          &kp H     &kp J    &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C    &bt BT_CLR &bt BT_SEL 0   &kp N     &kp M    &kp COMMA &kp DOT &kp FSLH &kp RET
                   &mo 1 &kp LALT &kp LGUI &kp SPACE        &kp SPACE &kp RGUI &kp RALT  &mo 2
                        >;
                };
        };
};